ion-toolbar {
  --background: #011c40;
  --color: white;
}

img {
  width: 60%;
}

.filter {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-right: 10px;
}

ion-icon {
  color: #011c40;

}