ion-toolbar {
  --background: #011c40;
  --color: white;
}

img {
  width: 60%;
}

ion-button {
  height: 38px;
  width: 38px;
}

ion-badge {
  font-size: 10px;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  opacity: 0.9;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #b71f1f;
}

.filter {
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.fast {
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

ion-icon {
  color: #011c40;
}

ion-picker {
  --border-radius: 20px;
}

ion-toast {
  --background: #011c40;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #ddd;
}

.simpleFilterActivated {
  background-color: #011c40;

  ion-icon {
    color: white;
  }
}