<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirstMenu()" color="light" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img alt="Loyalink logo" src="../../assets/Loyalink-final-negativo.png" />
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openSecondMenu()">
        <ion-icon color="light" name="notifications-outline"></ion-icon>
        <ion-badge color="danger">1</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div style="display: flex; align-items: center;">
    <ion-searchbar placeholder="Buscar" class="custom-searchbar"></ion-searchbar>
    <ion-button id="open-toast"  size="small" class="fast" fill="clear">
      <ion-icon name="flash-outline"></ion-icon>
    </ion-button>
    <ion-button id="open-modal" class="filter" size="small" fill="clear">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>
    <ion-toast trigger="open-toast" message="Filtrando por elementos más antiguos" [duration]="3000000" icon="information-circle-outline"></ion-toast>
  </div>
  <app-filter-modal></app-filter-modal>
</div>
