<div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img alt="Loyalink logo" src="../../assets/Loyalink-final-negativo.png" />
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon color="light" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon color="light" slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar" class="custom-searchbar"></ion-searchbar>
</div>
