<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Filtrar</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <ion-label>Fecha de encuesta</ion-label>
          <ion-datetime-button color="tertiary" presentation="date" datetime="date"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime presentation="date" id="date" [showDefaultButtons]="true"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-card>
      <ion-card>
        <ion-label position="stacked">Ordenar</ion-label>
        <div style="display: flex; flex-wrap: wrap;">
          <ion-radio-group value="custom-checked">
            <ion-radio value="custom" aria-label="Custom checkbox">Más recientes</ion-radio>
            <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked">Más antiguos</ion-radio>
          </ion-radio-group>
        </div>
      </ion-card>
      <ion-card>
        <ion-label position="stacked">Nota</ion-label>
        <div style="display: flex; flex-wrap: wrap;">
          <ion-chip>Menor o igual a </ion-chip>
          <ion-chip>Mayor o igual a</ion-chip>
        </div>
      </ion-card>
      <ion-card>
        <ion-label position="stacked">Estado de gestión</ion-label>
        <div style="display: flex; flex-wrap: wrap;">
          <ion-chip>
            <ion-checkbox>Abiertos</ion-checkbox>
          </ion-chip>
          <ion-chip>
            <ion-checkbox>Cerrados</ion-checkbox>
          </ion-chip>
        </div>
        <div style="display: flex;">
          <ion-chip>
            <ion-checkbox>Sin gestión</ion-checkbox>
          </ion-chip>
          <ion-chip>
            <ion-checkbox>Sin contacto</ion-checkbox>
          </ion-chip>
        </div>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>