.filter-container {
  display: flex; 
  flex-wrap: wrap;
  margin-top: 14px;
  gap: 10px;
}

ion-card {
  padding: 10px;
}

ion-datetime-button {
  margin-top: 14px;
}

ion-chip {
  --background: white;
  --color: #666;
  border: 1px solid #ddd;
  margin: 0;
}

ion-checkbox {
  --size: 23px;
  --checkbox-background-checked: #021c40;
  --border-color-checked: #021c40;
}

ion-radio {
  background-color: white;
  border: 1px solid #ddd;
  padding: 0 11px 0 2px;
  height: 32px;
  border-radius: 20px;
}

ion-checkbox::part(container) {
  border-radius: 4px;
}

ion-radio::part(container) {
  width: 26px;
  height: 26px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 2px;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #021c40;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 12px;

  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: white;

  transform: rotate(45deg);
}

ion-datetime-button::part(native) {
  background: white;
  border: 1px solid #021c40;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 100%;
}

// range
ion-range {
  --bar-background: #ddd;
  --bar-background-active: #021c40;
  --bar-border-radius: 8px;
  --knob-background: white;
  --knob-size: 28px;
}

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2cb1bf;
  color: white;
  border-radius: 50px;
  transform: scale(1.01);
  top: -12px;
  width: 20px;
  height: 20px;
  transition: transform 120ms ease, background 120ms ease;
}

ion-range {
  margin-right: 15px;
  margin-left: 15px;
}