<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Filtrar</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <ion-label>Fecha de encuesta</ion-label>
        <ion-datetime-button color="primary" presentation="date" datetime="date"></ion-datetime-button>
        <ion-radio-group  class="filter-container" value="custom-checked">
        <ion-radio labelPlacement="end" value="custom" aria-label="Custom checkbox">Periodo de interacción</ion-radio>
        <ion-radio labelPlacement="end" value="custom-checked" aria-label="Custom checkbox that is checked">Periodo de encuesta</ion-radio>
        </ion-radio-group>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                mode="ios" 
                presentation="date" 
                id="date" 
                [showDefaultButtons]="true" 
                doneText="Listo" 
                cancelText="Cancelar">
              </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-card>
      <ion-card>
        <ion-label position="stacked">Ordenar</ion-label>
        <ion-radio-group  class="filter-container" value="custom-checked">
          <ion-radio labelPlacement="end" value="custom" aria-label="Custom checkbox">Más recientes</ion-radio>
          <ion-radio labelPlacement="end" value="custom-checked" aria-label="Custom checkbox that is checked">Más antiguos</ion-radio>
        </ion-radio-group>
      </ion-card>
      <ion-card>
        <ion-label position="stacked">Nota</ion-label>
        <ion-range 
            mode="ios"
            aria-label="Dual Knobs Range" 
            [dualKnobs]="true" 
            [ticks]="true" 
            [snaps]="true" 
            [min]="1" 
            [max]="10"
            [pin]="true"
            value="2"
          ></ion-range>
      </ion-card>
      <ion-card>
        <ion-label position="stacked">Estado de gestión</ion-label>
        <div class="filter-container">
          <ion-chip>
            <ion-checkbox>Abiertos</ion-checkbox>
          </ion-chip>
          <ion-chip>
            <ion-checkbox>Cerrados</ion-checkbox>
          </ion-chip>
          <ion-chip>
            <ion-checkbox>Sin gestión</ion-checkbox>
          </ion-chip>
          <ion-chip>
            <ion-checkbox>Sin contacto</ion-checkbox>
          </ion-chip>
        </div>
      </ion-card>
      <ion-card>
        <ion-label position="stacked">Etiquetas de gestión</ion-label>
        <div class="filter-container">
          <ion-chip>
            <ion-checkbox>Etiqueta 1</ion-checkbox>
          </ion-chip>
          <ion-chip>
            <ion-checkbox>Etiqueta 2</ion-checkbox>
          </ion-chip>
          <ion-chip>
            <ion-checkbox>Etiqueta 3</ion-checkbox>
          </ion-chip>
        </div>
      </ion-card>
      <ion-card>
        <ion-label position="stacked">Puntos de contacto</ion-label>
        <p-tree [value]="nodes" [(selection)]="selectedNodes" selectionMode="checkbox" [filter]="true" filterPlaceholder="Buscar"></p-tree>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>