ion-card {
  padding: 10px;
}

ion-datetime-button {
  display: inline-block;
  margin-left: 96px;
}

ion-chip {
  --background: white;
  --color: #2cb1bf;
  border: 1px solid #2cb1bf;
}

ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: #2cb1bf;
}

ion-radio {
  background-color: white;
  border: 1px solid #2cb1bf;
  padding: 0 10px;
  height: 32px;
  border-radius: 20px;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #2cb1bf;
}

ion-radio::part(container) {
  width: 20px;
  height: 20px;

  border-radius: 5px;
  border: 1px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #2cb1bf;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}
