<div [ngClass]="{'success': isSuccess, 'warning': isWarning, 'error': isError, 'disabled': status === 'CERRADO' || status === 'CERRADO SIN GESTION' || status === 'CERRADO SIN CONTACTO'}">
  <ion-item lines="full" [routerLink]="['/item-detail']" detail="false">
    <ion-thumbnail class="loyalink-score">
      {{ score }}
    </ion-thumbnail>
    <ion-label>
      <h3>{{ name }}</h3>
      <p class="item-id">ID: 12345345</p>
      <p>{{ type }} - {{ date }}</p>
      <p>{{ comment }}</p>
    </ion-label>
    <ion-chip [style.border-color]="status ? stateColors[status]['default'] : ''" slot="end">
      <div [style.background-color]="status ? stateColors[status]['default'] : ''" class="chip-circle"></div>
      {{ status }}
    </ion-chip>
    <ion-icon 
      [name]="isFavorite ? 'star' : 'star-outline'" 
      size="medium" 
      slot="end" 
      (click)="isFavorite = !isFavorite" 
      [ngClass]="{'favorite': isFavorite}">
    </ion-icon>
  </ion-item>
</div>