<div [ngClass]="{'success': isSuccess, 'warning': isWarning, 'error': isError, 'disabled': status === 'Resuelto'}">
  <!-- Your content here -->
  <ion-item lines="full">
    <ion-thumbnail class="loyalink-score">
      <div>
        {{ score }}
      </div>
      <span class="loyalink-label">{{ status }}</span>
    </ion-thumbnail>
    <ion-label>
      <h3>{{ name }}</h3>
      <p>{{ type }} - {{ date }}</p>
      <p>{{ comment }}</p>
    </ion-label>
    <ion-icon 
      [name]="isFavorite ? 'star' : 'star-outline'" 
      size="medium" 
      slot="end" 
      (click)="isFavorite = !isFavorite" 
      [ngClass]="{'favorite': isFavorite}">
    </ion-icon>
  </ion-item>
</div>