.success {
  .loyalink-score {
    border: 1px solid #3ac072;
    color: #3ac072;
  }
}
  
.warning {
  .loyalink-score {
    border: 1px solid #f4ca63;
    color: #f4ca63;
  }
}
  
.error {
  .loyalink-score {
    border: 1px solid  #dd2f30;
    color: #dd2f30;
  }
}

.disabled {
  .loyalink-score {
    border: 1px dashed gray;
    color: gray;
  }

  ion-item::part(native) {
    background: #e6eaf2a1;
  }
}

.favorite {
  color: #ffc107;
}

ion-label {
  margin-left: 10px;
}

.loyalink-score {
  font-size: 40px;
  color: white;
  margin: 0;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.loyalink-label {
  font-size: 10px;
  text-align: center;
  display: block;
}

ion-icon {
  position: relative;
  top: -18px;
  font-size: 20px;
  color: lightslategray;
}

ion-chip {
  height: 20px;
  font-size: 12px;
  position: relative;
  top: -18px;
  text-transform: lowercase;
  border: 1px solid;
  background-color: white;
  padding-left: 0;
  padding-right: 6px;
  margin: 2px;
  margin-right: 6px;
}

.chip-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 4px;
}

.item-id {
  font-size: 10px;
  font-weight: bold;
}

p {
  font-size: 13px;
}