.success {
  .loyalink-score {
    border: 1px solid #3ac072;
    color: #3ac072;
  }
}
  
.warning {
  .loyalink-score {
    border: 1px solid #f4ca63;
    color: #f4ca63;
  }
}
  
.error {
  .loyalink-score {
    border: 1px solid  #dd2f30;
    color: #dd2f30;
  }
}

.disabled {
  .loyalink-score {
    border: 1px dashed gray;
    color: gray;
  }

  ion-item::part(native) {
    background: #e6eaf2a1;
  }
}

.favorite {
  color: #ffc107;
}

ion-label {
  margin-left: 10px;
}

.loyalink-score {
  font-size: 40px;
  color: white;
  margin: 0;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.loyalink-label {
  font-size: 10px;
  text-align: center;
  display: block;
}

ion-icon {
  position: relative;
  top: -18px;
  font-size: 20px;
  color: lightslategray;
}

ion-chip {
  height: 20px;
  font-size: 12px;
  position: relative;
  top: -18px;
}