<div *ngIf="selectedSegment === 'feedback'">
  <ion-card-subtitle>
    ID Encuesta:
    <span>4555344566345</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    ID cliente:
    <span>4555344566345</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Fecha de experiencia: 
    <span>23-08-2003</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Puntos de contacto 
    <span>Punto 1, Punto 2, Punto 3</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Fecha de encuesta: 
    <span>23-08-2003</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Nivel: 
    <span>Sucursal</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Nota: 
    <span>6</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Comentario: 
    <span>es simplemente el texto de relleno de las imprentas y archivos de texto.</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Drivers: 
    <span>Example text</span> 
  </ion-card-subtitle>
</div>
<div *ngIf="selectedSegment === 'data'">
  <ion-card-subtitle>
    Nombre de usuario:
    <span>José Andrés Osorio Sanhueza</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Correo:
    <span>Ejemplo_correo@outlook.com</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Campo 3:
    <span>Detalle campo 3</span> 
  </ion-card-subtitle>
  <ion-card-subtitle>
    Campo 4:
    <span>Detalle campo 4</span> 
  </ion-card-subtitle>
</div>