<div *ngIf="selectedSegment === 'feedback'">
  <ion-card-subtitle>ID de usuario</ion-card-subtitle>
  <p>313131313</p>
  <ion-card-subtitle>Fecha de encuesta</ion-card-subtitle><p>23/07/2030</p>
  <ion-card-subtitle>Fecha de experiencia</ion-card-subtitle><p>23/08/2003</p>
  <ion-card-subtitle>Nivel</ion-card-subtitle><p>Sucursales</p>
  <ion-card-subtitle>Nota</ion-card-subtitle><p>8</p>
  <ion-card-subtitle>Comentario</ion-card-subtitle><p>es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
</div>
<div *ngIf="selectedSegment === 'data'">
  <ion-card-subtitle>Nombre de usuario</ion-card-subtitle><p>José andrés osorio sanhueza</p>
  <ion-card-subtitle>Correo</ion-card-subtitle><p>hola@gmail.com</p>
</div>