<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Ingreso de acción</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juan José Perez Gomez</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="selectedSegment" mode="ios" color="tertiary" style="margin-bottom: 10px;">
        <ion-segment-button value="feedback">
          <ion-label>Feedback</ion-label>
        </ion-segment-button>
        <ion-segment-button value="data">
          <ion-label>Datos cliente</ion-label>
        </ion-segment-button>
      </ion-segment>
      <app-enter-action-info [selectedSegment]="selectedSegment"></app-enter-action-info>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresar nueva acción</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Comentario de gestión" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Estado de gestión" label-placement="stacked">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Etiqueta de gestión" [multiple]="true" label-placement="stacked">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block">Guardar</ion-button>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Gestiones</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <ion-label>Bandeja de entrada</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
