ion-toolbar {
  --background: #011c40;
  --color: white;
}

.save {
  --background: #011c40;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}

.action-button {
  margin: 0;
  --border-color: #2cb1bf;
  --color: #2cb1bf;
  width: 150px;

  ion-icon {
    margin-left: 10px;
  }
}

.save {
  margin-top: 20px;
}

ion-segment {
  --background: #2cb1bf5e;
  margin-bottom: 14px;
  color: #011c40;
}
