<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar acción</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="light" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-segment [(ngModel)]="selectedSegment" mode="ios" value="all" color="tertiary" style="margin-bottom: 10px;">
        <ion-segment-button value="feedback">
          <ion-label>Feedback</ion-label>
        </ion-segment-button>
        <ion-segment-button value="data">
          <ion-label>Datos cliente</ion-label>
        </ion-segment-button>
      </ion-segment>
      <app-enter-action-info [selectedSegment]="selectedSegment"></app-enter-action-info>
    </ion-card-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="light"  expand="block" [routerLink]="['/detail-managment']">
            Ver gestión
            <ion-icon name="list-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="light" expand="block">
            Hacer llamada
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresar nueva acción</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Comentario de gestión" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Estado de gestión" label-placement="stacked">
          <ion-select-option value="apple">Abierto</ion-select-option>
          <ion-select-option value="banana">Cerrado</ion-select-option>
          <ion-select-option value="orange">Cerrado sin gestión</ion-select-option>
          <ion-select-option value="orange">Cerrado sin contacto</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Etiqueta de gestión" [multiple]="true" label-placement="stacked">
          <ion-select-option value="apples">Etiqueta 1</ion-select-option>
          <ion-select-option value="oranges">Etiqueta 2</ion-select-option>
          <ion-select-option value="bananas">Etiqueta 3</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button class="save" shape="round" expand="block">Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
