<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-menu-button color="light" auto-hide="chevron-back-outline"></ion-menu-button>
      </ion-buttons>
      <ion-title>Ingreso de acción</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item lines="none">
      <ion-card-subtitle slot="start">Juan José Perez Gomez</ion-card-subtitle>
      <ion-fab-button slot="end" size="small" style="display: inline;">
        <ion-icon name="call-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button slot="end" size="small" style="display: inline;">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
    <ion-card-content>
      <ion-segment [(ngModel)]="selectedSegment" mode="ios" value="all" color="tertiary" style="margin-bottom: 10px;">
        <ion-segment-button value="feedback">
          <ion-label>Feedback</ion-label>
        </ion-segment-button>
        <ion-segment-button value="data">
          <ion-label>Datos cliente</ion-label>
        </ion-segment-button>
      </ion-segment>
      <app-enter-action-info [selectedSegment]="selectedSegment"></app-enter-action-info>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresar nueva acción</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Comentario de gestión" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Estado de gestión" label-placement="stacked">
          <ion-select-option value="apple">Abierto</ion-select-option>
          <ion-select-option value="banana">Cerrado</ion-select-option>
          <ion-select-option value="orange">Cerrado sin gestión</ion-select-option>
          <ion-select-option value="orange">Cerrado sin contacto</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Etiqueta de gestión" [multiple]="true" label-placement="stacked">
          <ion-select-option value="apples">Etiqueta 1</ion-select-option>
          <ion-select-option value="oranges">Etiqueta 2</ion-select-option>
          <ion-select-option value="bananas">Etiqueta 3</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-button shape="round" expand="block">Guardar</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
