<ion-content [fullscreen]="true">
  <app-searchbar showSearchBar></app-searchbar>

  <div class="nps-indicator-cards">
    <ion-card class="nps-indicator-title">
      <ion-card-title>Resultados del periodo</ion-card-title>
    </ion-card>
    <ion-card class="nps-data-container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="calendar-outline"></ion-icon>
            <p>Fecha de interacción</p>
          </ion-col>
          <ion-col class="nps-data-quantity" size="auto">
            <div>01-09-2023</div>
            <div>30-09-2023</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  
    <ion-card class="nps-data-container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <p>Número Total</p>
          </ion-col>
          <ion-col class="nps-data-quantity" size="auto">
            <p>4056</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  
    <ion-card class="nps-data-container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="trending-up-outline"></ion-icon>
            <p>NPS</p>
            <div>NPS periodo anterior: 49</div>
          </ion-col>
          <ion-col class="nps-data-quantity" size="auto">
            <p>56</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-button class="levels-button" id="bar-chart" fill="clear" size="small">
        {{ barChartButtonText }}
        <ion-icon slot="end" name="calendar-number-outline"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
    <ion-picker trigger="bar-chart" [columns]="pickerColumns2" [buttons]="pickerButtons"></ion-picker>
  </ion-card>

  <div class="nps-indicator-cards">
    <ion-card class="nps-indicator-title">
      <ion-card-title>Comparativo por Estructura</ion-card-title>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-button class="levels-button" id="open-picker" fill="clear" size="small">
          {{ buttonText }}
          <ion-icon slot="end" name="stats-chart-outline"></ion-icon>
        </ion-button>
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas  height="700"></canvas>
      </ion-card-content>
    </ion-card>
    <ion-picker trigger="open-picker" [columns]="pickerColumns" [buttons]="pickerButtons"></ion-picker>
  </div>
</ion-content>
