ion-toolbar {
	--background: #011c40;
	--color: white;
}

img {
	width: 60%;
}

ion-buttons ion-button {
	height: 38px;
	width: 38px;
}

ion-badge {
	font-size: 10px;
	position: absolute;
	top: -0.2rem;
	right: -0.2rem;
	opacity: 0.9;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	background-color: #b71f1f;
}

.nps-indicator-cards {
	margin-top: 20px;
	ion-card {
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

.nps-data-container {
	height: 65px;
	box-shadow: none;
	background-color: white;
	color: #011c40;
	display: flex;
  align-items: center;
	border: 1px dashed #021c40;

	p {
		font-size: 18px;
		font-weight: bold;
		margin: 0;
	}

	.nps-data-quantity {
		place-self: center;
	}
}

.levels-button {
	width: 50%;
	height: 10px;
	background-color: white;
	border: 1px solid #011c40;
	color: #011c40;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	align-self: end;
}

.nps-indicator-title {
	background-color: transparent;
	box-shadow: none;
	color: #011c40;
	
	ion-card-title {
		font-size: 20px;
	}
}