<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="openFirstMenu()" color="light" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img alt="Loyalink logo" src="../../assets/Loyalink-final-negativo.png" />
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="openSecondMenu()">
          <ion-icon color="light" name="notifications-outline"></ion-icon>
          <ion-badge color="danger">1</ion-badge>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>NPS mes anterior</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Mes: Junio</ion-card-subtitle>
      <ion-card-subtitle>N° total: 1200</ion-card-subtitle>
      <ion-card-subtitle>NPS: 57</ion-card-subtitle>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nivel: 2</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas  height="700"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
