<ion-menu type="overlay" menuId="first-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <img style="width: 10%;" alt="Loyalink logo" src="../../assets/logo-negativo.png" />
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-item>
        <ion-avatar slot="start">
          <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Elizabeth James Park ....</ion-label>
      </ion-item>
      <ion-item button detail>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item button detail>
        <ion-icon name="reader-outline" slot="start"></ion-icon>
        <ion-label>Gestión</ion-label>
      </ion-item>
      <ion-item button detail>
        <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
        <ion-label>Reporteria</ion-label>
      </ion-item>
      <ion-item class="logout" button detail>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
