ion-toolbar {
  --background: #011c40;  
}

ion-icon {
  color: #2cb1bf;
}

ion-list {
  height: 100%;
}

ion-card {
  margin: 0 0 16px 0;

  ion-avatar {
    margin-bottom: 20px;
  }
}

ion-item {
  --ripple-color: #2cb1bf;
  --border-color: #2cb1bf;
  --border-style: dashed;
  --border-width: 2px;
  --detail-icon-opacity: 0.6;
  --detail-icon-font-size: 10px;
}

.logout {
  --border-color:#dd2f30;
  --ripple-color: #f5a9aa;
  --color: #dd2f30;

  position: absolute; 
  bottom: 0;
  width: 100%;

  ion-icon {
    color: #dd2f30;
  }
}
