<ion-tabs>
  <ion-header>
    <app-searchbar></app-searchbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="newspaper-outline" size="small"></ion-icon>
      <ion-label>Acceso rapido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="star-outline" size="small"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="bar-chart-outline" size="small"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
