<ion-content [fullscreen]="true">
  <ion-list>
    <app-list-item [isSuccess]="true"></app-list-item>
    <app-list-item [isWarning]="true"></app-list-item>
    <app-list-item [isWarning]="true"></app-list-item>
    <app-list-item [isError]="true"></app-list-item>
    <app-list-item [isError]="true"></app-list-item>
    <app-list-item [isError]="true"></app-list-item>
    <app-list-item [isWarning]="true"></app-list-item>
    <app-list-item [isSuccess]="true"></app-list-item>
    <app-list-item [isSuccess]="true"></app-list-item>
    <app-list-item [isWarning]="true"></app-list-item>
    <app-list-item [isWarning]="true"></app-list-item>
    <app-list-item [isError]="true"></app-list-item>
    <app-list-item [isError]="true"></app-list-item>
    <app-list-item [isError]="true"></app-list-item>
    <app-list-item [isWarning]="true"></app-list-item>
    <app-list-item [isSuccess]="true"></app-list-item>
  </ion-list>
</ion-content>
