<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center;">
    <div style="width: 80%">
      <ion-segment mode="ios" value="all">
        <ion-segment-button value="all">
          Mis casos
        </ion-segment-button>
        <ion-segment-button value="asigned">
          Asignados
        </ion-segment-button>
        <ion-segment-button value="profile">
          Perfil
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <ion-list>
    <app-list-item 
      [isWarning]="true" 
      [isFavorite]="true"
      [status]="'Abierto'" 
      [score]="'5'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="1"
    >
    </app-list-item>
    <app-list-item 
      [isSuccess]="true"
      [isFavorite]="true" 
      [status]="'En curso'" 
      [score]="'7'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="2"
    >
    </app-list-item>
    <app-list-item 
      [isError]="true"
      [isFavorite]="true" 
      [status]="'Resuelto'" 
      [score]="'2'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="3"
    >
    </app-list-item>
    <app-list-item 
      [isSuccess]="true" 
      [status]="'En curso'" 
      [score]="'6'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="4"
    >
    </app-list-item> 
    <app-list-item 
      [isWarning]="true" 
      [status]="'Sin gestión'" 
      [score]="'5'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="5"
    >
    </app-list-item> 
    <app-list-item 
      [isSuccess]="true" 
      [status]="'Sin contacto'" 
      [score]="'6'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="6"
    >
    </app-list-item>
    <app-list-item 
      [isError]="true" 
      [status]="'Resuelto'" 
      [score]="'1'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="7"
    >
    </app-list-item>
    <app-list-item 
      [isError]="true" 
      [status]="'Abierto'" 
      [score]="'2'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="8"
    >
    </app-list-item>
    <app-list-item 
      [isSuccess]="true"
      [isFavorite]="true" 
      [status]="'En curso'" 
      [score]="'6'"
      [name]="'Elizabeth Park...'"
      [type]="'Pasivo'"
      [date]="'23/08/2023'"
      [comment]="'Comentario placeholder'"
      [id]="9"
    >
    </app-list-item>      
  </ion-list>
</ion-content>
