<ion-content [fullscreen]="true">  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Estado de gestión</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>NPS mes anterior</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Mes: Junio</ion-card-subtitle>
      <ion-card-subtitle>N° total: 1200</ion-card-subtitle>
      <ion-card-subtitle>NPS: 57</ion-card-subtitle>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nivel: 2</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas  height="700"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
