<ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="light" name="chevron-back-outline"></ion-icon>
      </ion-button>
      volver
    </ion-buttons>
    <ion-title>Detalle de gestión</ion-title>
  </ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>ID de gestión:</ion-card-subtitle><p>55132</p>
      <ion-card-subtitle>Estado:</ion-card-subtitle><p>Abierta</p>
      <ion-card-subtitle>Escalada:</ion-card-subtitle><p>Escalada x</p>
      <ion-card-subtitle>Usuario:</ion-card-subtitle><p>usuario@gmail.com</p>
      <ion-card-subtitle>Fecha de creación:</ion-card-subtitle><p>23/07/2023</p>
      <ion-card-subtitle>Detalle:</ion-card-subtitle><p>es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </ion-card-content>
    <ion-item lines="none">
      <ion-badge slot="end"><ion-icon name="person-outline"></ion-icon></ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>ID de gestión:</ion-card-subtitle><p>55132</p>
      <ion-card-subtitle>Estado:</ion-card-subtitle><p>Abierta</p>
      <ion-card-subtitle>Escalada:</ion-card-subtitle><p>Escalada x</p>
      <ion-card-subtitle>Usuario:</ion-card-subtitle><p>usuario@gmail.com</p>
      <ion-card-subtitle>Fecha de creación:</ion-card-subtitle><p>23/07/2023</p>
      <ion-card-subtitle>Detalle:</ion-card-subtitle><p>es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </ion-card-content>
    <ion-item lines="none">
      <ion-badge slot="end"><ion-icon name="person-outline"></ion-icon></ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>ID de gestión:</ion-card-subtitle><p>55132</p>
      <ion-card-subtitle>Estado:</ion-card-subtitle><p>Abierta</p>
      <ion-card-subtitle>Escalada:</ion-card-subtitle><p>Escalada x</p>
      <ion-card-subtitle>Usuario:</ion-card-subtitle><p>usuario@gmail.com</p>
      <ion-card-subtitle>Fecha de creación:</ion-card-subtitle><p>23/07/2023</p>
      <ion-card-subtitle>Detalle:</ion-card-subtitle><p>es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </ion-card-content>
    <ion-item lines="none">
      <ion-badge slot="end"><ion-icon name="person-outline"></ion-icon></ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
