<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de gestión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>
        ID de gestión: 
        <span>455534</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Estado:
        <span>Abierto</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Usuario: 
        <span>usuario_ejemplo@gmail.com</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Fecha de creación: 
        <span>23/07/2023</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Detalle: 
        <span>es simplemente el texto de relleno de las imprentas y archivos de texto.</span> 
      </ion-card-subtitle>
    </ion-card-content>
    <ion-item lines="none">
      <ion-chip color="warning" slot="end">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Creado por: otro</ion-label>
      </ion-chip>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>
        ID de gestión: 
        <span>455534</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Estado:
        <span>Abierto</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Usuario: 
        <span>usuario_ejemplo@gmail.com</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Fecha de creación: 
        <span>23/07/2023</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Detalle: 
        <span>es simplemente el texto de relleno de las imprentas y archivos de texto.</span> 
      </ion-card-subtitle>
    </ion-card-content>
    <ion-item lines="none">
      <ion-chip color="primary" slot="end">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Creado por: sistema</ion-label>
      </ion-chip>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>
        ID de gestión: 
        <span>455534</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Estado:
        <span>Abierto</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Usuario: 
        <span>usuario_ejemplo@gmail.com</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Fecha de creación: 
        <span>23/07/2023</span> 
      </ion-card-subtitle>
      <ion-card-subtitle>
        Detalle: 
        <span>es simplemente el texto de relleno de las imprentas y archivos de texto.</span> 
      </ion-card-subtitle>
    </ion-card-content>
    <ion-item lines="none">
      <ion-chip color="success" slot="end">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Creado por: mi</ion-label>
      </ion-chip>
    </ion-item>
  </ion-card>
</ion-content>
