<ion-menu type="overlay" side="end"  menuId="second-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title color="light">Notificaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-item button id="open-notification">
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Asunto de la escalada 0</h3>
          <p>Tienes asignado un nuevo caso con nota X del ID de encuesta XXXXX.</p>
        </ion-label>
      </ion-item>
      <ion-item button id="open-notification">
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Asunto de la escalada 0</h3>
          <p>Tienes asignado un nuevo caso con nota X del ID de encuesta XXXXX.</p>
        </ion-label>
      </ion-item>
      <ion-item button id="open-notification">
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Asunto de la escalada 0</h3>
          <p>Tienes asignado un nuevo caso con nota X del ID de encuesta XXXXX.</p>
        </ion-label>
      </ion-item>
      <ion-item button id="open-notification">
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Asunto de la escalada 0</h3>
          <p>Tienes asignado un nuevo caso con nota X del ID de encuesta XXXXX.</p>
        </ion-label>
      </ion-item>
      <ion-item button id="open-notification">
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Asunto de la escalada 0</h3>
          <p>Tienes asignado un nuevo caso con nota X del ID de encuesta XXXXX.</p>
        </ion-label>
      </ion-item>
      <ion-item button id="open-notification">
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Asunto de la escalada 0</h3>
          <p>Tienes asignado un nuevo caso con nota X del ID de encuesta XXXXX.</p>
        </ion-label>
      </ion-item>
      <ion-item button id="open-notification">
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Asunto de la escalada 0</h3>
          <p>Tienes asignado un nuevo caso con nota X del ID de encuesta XXXXX.</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-modal trigger="open-notification" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">
        <h3>Asunto de la escalada 0</h3>
        <ion-text>Tienes asignado un nuevo caso con nota X del ID de encuesta XXXXX.
        </ion-text>
      </div>
    </ng-template>
  </ion-modal>
</ion-menu>
