.notification-dot {
  height: 10px;
  width: 10px;
  background-color: #2cb1bf;
  border-radius: 50px;
  margin-right: 10px;
}

ion-toolbar {
  --background: #011634;
}

.block {
  width: 100%;
  height: 300px;
  padding: 20px;
  background-color: #011c40;
  color: white;
}

ion-modal {
  --height: auto;
}