<ion-menu type="overlay" side="end"  menuId="second-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title color="light">Notificaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-item>
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Text Item</h3>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Text Item</h3>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Text Item</h3>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Text Item</h3>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Text Item</h3>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Text Item</h3>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Text Item</h3>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <div class="notification-dot"></div>
        <ion-label>
          <h3>Text Item</h3>
          <p>Detail set to true - detail arrow displays on both modes</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
